@import "variables";

@import "media";
.navTitle {
  font-size: $font-size-regular;

  color: $color-secondary;
  font-family: $font-family;

  font-weight: $font-weight-bold;
  line-height: 0px;
  &:hover {
    color: $color-red;
  }
}
.navbar-brand {
  font-size: $font-size-large-title;
  letter-spacing: -2px;

  color: $color-primary;

  font-weight: $font-weight-bold;
  font-family: $font-family;
  text-align: left;
}
.sep {
  width: 6rem;
  @include xs {
    width: 3rem;
  }

  @include sm {
    width: 3rem;
  }
}

.titre {
  font-size: $font-size-medium-title;
  font-weight: $font-weight-semiBold;
  color: $color-primary;

  @include xs {
    font-size: $font-size-medium-title * 0.4;
  }

  @include sm {
    font-size: $font-size-medium-title * 0.5;
  }
  @include md {
    font-size: $font-size-medium-title;
  }
  @include lg {
    font-size: $font-size-medium-title * 0.7;
  }
}

.description {
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
  color: $color-gray;
  line-height: $line-height-regular;

  @include xs {
    font-size: $font-size-medium * 0.4;
    line-height: $line-height-regular * 0.6;
  }
}
.tag {
  font-size: 12px;
  line-height: 0px;
  color: #535353;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: left;
  @include xs {
    font-size: $font-size-medium * 0.4;
    line-height: $line-height-regular * 0.6;
  }
}

.button {
  width: 124px;
  height: 26px;

  border-radius: 5px;
  border: 1px;
  border: $color-red;
  border-style: solid;

  background-color: transparent;
  color: $color-red;

  font-family: $font-family;

  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.buttonp {
  width: 135px;
  height: 35px;

  border-radius: 5px;
  border: 1px;
  background-color: $color-primary;
  color: $color-white;

  font-family: "Font Awesome";

  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footersubtitle {
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  color: $color-graish;
  font-family: $font-family;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}
.footer {
  height: 10%;
}
